.email-list{
    display: flex;
    flex-direction: column;    
}

.email-list-container {
    width: 100%;
}

.email-list img{
    width: 30px;
    height: fit-content;
    cursor: pointer;
}

.modify-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        color: rgb(56, 56, 56);
}

#checkbox{
    border: none !important;
    background-color: rgb(167, 39, 39) !important;
}