@import './cmps/note-display.css';
.note-compose-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: 20px auto;
}

.note-compose-container input {
    border: none;
    outline: none;
    height: 35px;
    width: 250px;
}

.note-compose-container .cmp-type-container {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.note-compose-container .cmp-type-container .fa {
    cursor: pointer;
    color: grey;
    margin: 10px;
}

.cmp-type-container .fa:hover {
    cursor: pointer;
    color: rgb(29, 29, 29);
}

.note-app {
    padding: 0.5rem 0;
    background-color: rgb(228, 231, 238);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: fit-content;
}

.notes-display-container {
    min-height: calc(80vh - 75.5px);
    background-color: rgb(0, 0, 0, 0.05);
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}

.note-app .selected {
    border: 2px solid red;
}

#primary_color {
    border-radius: 80%;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    -webkit-appearance: none !important;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#primary_color::-webkit-color-swatch {
    border: 1px solid rgb(56, 56, 56);
    border-radius: 100%;
}

@media screen and (max-width: 750px) {
    .note-compose-container {
        width: 450px;
    }
    .note-compose-container input {
        width: 200px;
    }
}